01-Autowais-Platform/complete-package/autowais-complete-package/workflows/test-google-drive-blog-workflow.json
{
  "name": "Test Google Drive Blog Workflow",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "id": "manual-trigger-001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "todayDate",
              "name": "todayDate",
              "value": "={{ $now.format('YYYY-MM-DD') }}",
              "type": "string"
            },
            {
              "id": "blogTitle",
              "name": "blogTitle",
              "value": "Test Blog Post - {{ $now.format('YYYY-MM-DD') }}",
              "type": "string"
            },
            {
              "id": "blogContent",
              "name": "blogContent",
              "value": "This is a test blog post created on {{ $now.format('YYYY-MM-DD') }}. This content will be saved to Google Drive and tracked in Google Sheets.",
              "type": "string"
            },
            {
              "id": "linkedinPost",
              "name": "linkedinPost",
              "value": "🚀 New blog post is live! {{ $('Manual Trigger').item.json.blogTitle }}\n\nKey insights:\n✅ Test automation working\n✅ Google Drive integration\n✅ Google Sheets tracking\n\n#Automation #BlogPost #Testing",
              "type": "string"
            }
          ]
        }
      },
      "name": "Prepare Test Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 300],
      "id": "prepare-data-001"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "blog-post-{{ $('Prepare Test Data').item.json.todayDate }}.txt",
        "parents": {
          "parentId": "YOUR_GOOGLE_DRIVE_FOLDER_ID"
        },
        "options": {
          "mimeType": "text/plain"
        }
      },
      "name": "Save Blog to Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [600, 200],
      "id": "google-drive-upload-001",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive OAuth2 API account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEETS_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {
          "valueInputMode": "USER_ENTERED"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "values": {
            "Date": "={{ $('Prepare Test Data').item.json.todayDate }}",
            "Title": "={{ $('Prepare Test Data').item.json.blogTitle }}",
            "Content": "={{ $('Prepare Test Data').item.json.blogContent }}",
            "LinkedIn_Post": "={{ $('Prepare Test Data').item.json.linkedinPost }}",
            "Status": "Draft",
            "Platform": "LinkedIn",
            "Drive_File_ID": "={{ $('Save Blog to Google Drive').item.json.id }}",
            "Drive_File_URL": "={{ $('Save Blog to Google Drive').item.json.webViewLink }}",
            "Created_Time": "={{ $now.format('YYYY-MM-DD HH:mm:ss') }}"
          }
        }
      },
      "name": "Track in Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [600, 400],
      "id": "google-sheets-append-001",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2 API account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-001",
              "leftValue": "={{ $('Save Blog to Google Drive').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Drive Upload Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, 300],
      "id": "if-check-001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success_message",
              "name": "success_message",
              "value": "✅ Test workflow completed successfully!\n\nBlog saved to Google Drive: {{ $('Save Blog to Google Drive').item.json.webViewLink }}\nTracked in Google Sheets: {{ $('Track in Google Sheets').item.json.spreadsheetId }}\n\nTitle: {{ $('Prepare Test Data').item.json.blogTitle }}\nDate: {{ $('Prepare Test Data').item.json.todayDate }}",
              "type": "string"
            }
          ]
        }
      },
      "name": "Success Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 200],
      "id": "success-output-001"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "error_message",
              "name": "error_message",
              "value": "❌ Test workflow failed!\n\nError occurred during Google Drive upload.\nPlease check your credentials and folder permissions.\n\nDate: {{ $('Prepare Test Data').item.json.todayDate }}",
              "type": "string"
            }
          ]
        }
      },
      "name": "Error Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 400],
      "id": "error-output-001"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Prepare Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Test Data": {
      "main": [
        [
          {
            "node": "Save Blog to Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Track in Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Blog to Google Drive": {
      "main": [
        [
          {
            "node": "Check Drive Upload Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Track in Google Sheets": {
      "main": [
        [
          {
            "node": "Check Drive Upload Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Drive Upload Success": {
      "main": [
        [
          {
            "node": "Success Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
} 