03-N8N-Workflows-Agents/workflows/arctic-shorex-fixed-workflow.json
{
  "name": "Arctic Shorex Support Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "arctic-support",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Arctic Support Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "arctic-support-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Arctic Shorex Customer Support Response\nconst customerName = $input.item.json.body.name || $input.item.json.name || 'Valued Traveler';\nconst customerEmail = $input.item.json.body.email || $input.item.json.email || 'customer@example.com';\nconst inquiry = $input.item.json.body.message || $input.item.json.message || 'General inquiry about Arctic travel';\nconst inquiryType = $input.item.json.body.type || 'general';\n\n// Create Arctic Shorex response\nconst response = {\n  status: 'success',\n  ticketId: `AS-${Date.now()}`,\n  customer: {\n    name: customerName,\n    email: customerEmail\n  },\n  inquiry: {\n    message: inquiry,\n    type: inquiryType,\n    receivedAt: new Date().toISOString()\n  },\n  response: {\n    message: `Hello ${customerName}! Thank you for your interest in Arctic Shorex Travel Agency. We specialize in unique Arctic expeditions and Northern Lights tours.`,\n    nextSteps: 'Our Arctic travel specialists will contact you within 24 hours to discuss your adventure.',\n    specialties: [\n      'Northern Lights Tours',\n      'Arctic Expeditions', \n      'Polar Wildlife Viewing',\n      'Ice Hotel Experiences',\n      'Arctic Photography Tours'\n    ]\n  },\n  contact: {\n    email: 'support@articshorex.com',\n    phone: '+1-555-ARCTIC',\n    website: 'www.articshorex.com',\n    emergency: '+1-555-ARCTIC-911'\n  },\n  timestamp: new Date().toISOString()\n};\n\nreturn { response };"
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f23456789012",
      "name": "Process Arctic Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.response }}",
        "options": {}
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-345678901234",
      "name": "Send Arctic Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Arctic Support Webhook": {
      "main": [
        [
          {
            "node": "Process Arctic Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Arctic Request": {
      "main": [
        [
          {
            "node": "Send Arctic Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "arctic-shorex-support-workflow",
  "tags": [
    {
      "id": "arctic",
      "name": "Arctic"
    },
    {
      "id": "support",
      "name": "Support"
    },
    {
      "id": "travel",
      "name": "Travel"
    }
  ]
} 