autowais-complete-package/workflows/arctic-shorex-ai-support-agent.json
{
  "name": "Arctic Shorex AI Customer Support Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "arctic-support",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        200
      ],
      "id": "webhook-trigger",
      "name": "Support Request Webhook",
      "webhookId": "arctic-support-webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message || $json.body.query }}",
        "options": {
          "systemMessage": "# Arctic Shorex Travel Agency - AI Customer Support Agent\n\nYou are the Arctic Shorex Customer Support Agent, specializing in Arctic and Northern travel experiences. You provide exceptional support for travelers seeking unique polar adventures, Northern Lights tours, and Arctic expeditions.\n\n## Company Overview\n- **Name:** Arctic Shorex Travel Agency\n- **Email:** support@articshorex.com\n- **Website:** www.articshorex.com\n- **Phone:** +1-555-ARCTIC\n- **Specialty:** Arctic expeditions, Northern Lights tours, polar adventures\n\n## Tools Available\n\n### MongoDB Client Database\n- Lookup customer information\n- Track booking history\n- Monitor preferences\n- Store support tickets\n\n### Email Communication\n- Send booking confirmations\n- Provide travel updates\n- Share destination guides\n- Handle inquiries\n\n### Support Ticket System\n- Create and track tickets\n- Assign priority levels\n- Monitor resolution status\n- Document interactions\n\n## Key Support Areas\n\n### Travel Planning\n- Destination recommendations\n- Seasonal advice\n- Equipment guidance\n- Itinerary planning\n\n### Booking Support\n- Reservation assistance\n- Modification requests\n- Cancellation policies\n- Payment processing\n\n### Travel Preparation\n- Packing lists\n- Weather updates\n- Documentation requirements\n- Health recommendations\n\n### During Travel\n- Emergency support\n- Itinerary changes\n- Local assistance\n- Activity modifications\n\n### Post-Travel\n- Feedback collection\n- Photo sharing\n- Future trip planning\n- Loyalty rewards\n\n## Customer Service Standards\n- Response time: <2 hours\n- Resolution target: 95%\n- Customer satisfaction: 98%+\n- 24/7 emergency support\n\n## Common Inquiries\n\n### Pre-Booking\n- Best travel seasons\n- Tour availability\n- Pricing information\n- Group bookings\n\n### Arctic Expeditions\n- Equipment requirements\n- Physical fitness needs\n- Safety protocols\n- Wildlife viewing\n\n### Northern Lights Tours\n- Optimal viewing times\n- Weather dependencies\n- Photography tips\n- Accommodation options\n\n### Travel Logistics\n- Flight connections\n- Visa requirements\n- Travel insurance\n- Local customs\n\nAlways emphasize the unique, once-in-a-lifetime nature of Arctic travel experiences.\n\nCustomer Email: {{ $json.body.email || $json.body.from }}\nCustomer Name: {{ $json.body.name || 'Valued Traveler' }}\nInquiry Type: {{ $json.body.type || 'General Support' }}\nCurrent Date/Time: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -440,
        200
      ],
      "id": "arctic-support-agent",
      "name": "Arctic Shorex Support Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        -560,
        420
      ],
      "id": "anthropic-chat",
      "name": "Anthropic Chat Model"
    },
    {
      "parameters": {
        "operation": "findOne",
        "collection": "clients",
        "query": "={\"email\": \"{{ $fromAI(\"customerEmail\") }}\"}"
      },
      "type": "n8n-nodes-base.mongoDbTool",
      "typeVersion": 1,
      "position": [
        -400,
        460
      ],
      "id": "mongodb-client-lookup",
      "name": "Find Client in Database",
      "webhookId": "mongodb-lookup-tool"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "support_tickets",
        "fieldsUi": {
          "field": [
            {
              "name": "clientEmail",
              "value": "={{ $fromAI(\"customerEmail\") }}"
            },
            {
              "name": "clientName",
              "value": "={{ $fromAI(\"customerName\", \"Unknown Client\") }}"
            },
            {
              "name": "subject",
              "value": "={{ $fromAI(\"ticketSubject\", \"Support Request\") }}"
            },
            {
              "name": "message",
              "value": "={{ $fromAI(\"originalMessage\") }}"
            },
            {
              "name": "aiResponse",
              "value": "={{ $fromAI(\"response\") }}"
            },
            {
              "name": "category",
              "value": "={{ $fromAI(\"category\", \"general\") }}"
            },
            {
              "name": "priority",
              "value": "={{ $fromAI(\"priority\", \"normal\") }}"
            },
            {
              "name": "status",
              "value": "resolved"
            },
            {
              "name": "timestamp",
              "value": "={{ $now }}"
            },
            {
              "name": "resolvedBy",
              "value": "AI Agent"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.mongoDbTool",
      "typeVersion": 1,
      "position": [
        -400,
        520
      ],
      "id": "mongodb-ticket-create",
      "name": "Create Support Ticket",
      "webhookId": "mongodb-ticket-tool"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"customerEmail\") }}",
        "subject": "={{ $fromAI(\"emailSubject\", \"Arctic Shorex Support Response\") }}",
        "message": "Dear {{ $fromAI(\"customerName\", \"Valued Traveler\") }},\n\n{{ $fromAI(\"response\") }}\n\nIf you need further assistance, please don't hesitate to contact us:\n- Email: support@articshorex.com\n- Phone: +1-555-ARCTIC\n- Website: www.articshorex.com\n\nBest regards,\nArctic Shorex Support Team\n\n---\nTicket ID: {{ $fromAI(\"ticketId\") }}\nResolved by: AI Agent\nDate: {{ $now }}",
        "options": {
          "replyTo": "support@articshorex.com"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -400,
        580
      ],
      "id": "gmail-customer-response",
      "name": "Send Customer Response",
      "webhookId": "gmail-response-tool"
    },
    {
      "parameters": {
        "sendTo": "team@articshorex.com",
        "subject": "AI Agent Handled: {{ $fromAI(\"ticketSubject\", \"Support Request\") }}",
        "message": "An AI agent has successfully handled a customer support request:\n\n**Customer:** {{ $fromAI(\"customerName\", \"Unknown\") }} ({{ $fromAI(\"customerEmail\") }})\n**Category:** {{ $fromAI(\"category\", \"general\") }}\n**Priority:** {{ $fromAI(\"priority\", \"normal\") }}\n**Status:** Resolved\n\n**Original Message:**\n{{ $fromAI(\"originalMessage\") }}\n\n**AI Response:**\n{{ $fromAI(\"response\") }}\n\n**Ticket ID:** {{ $fromAI(\"ticketId\") }}\n**Resolved At:** {{ $now }}\n\n---\nArctic Shorex AI Support System\nDashboard: http://localhost:5678",
        "options": {
          "replyTo": "support@articshorex.com"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -400,
        640
      ],
      "id": "gmail-team-notification",
      "name": "Notify Support Team",
      "webhookId": "gmail-team-tool"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $fromAI(\"response\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -100,
        200
      ],
      "id": "webhook-response",
      "name": "Send Response"
    }
  ],
  "connections": {
    "Support Request Webhook": {
      "main": [
        [
          {
            "node": "Arctic Shorex Support Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Arctic Shorex Support Agent": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_tool": [
        [
          {
            "node": "Find Client in Database",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Create Support Ticket",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Send Customer Response",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Notify Support Team",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Arctic Shorex Support Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "arctic-shorex-ai-support",
  "tags": [
    {
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "id": "support",
      "name": "Support"
    },
    {
      "id": "travel",
      "name": "Travel"
    }
  ]
} 